@page "/ClientePage/Ver"


<table class="table">
    <thead>
        <tr>
            <th scope="col">ClienteId</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in ClienteLista)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Email</td>
            </tr>
        }
    </tbody>
</table>
